.Step-btn{
    width: calc(100%/28);
    margin-bottom: 0.2rem;
  }
  
  @media (max-width: 1400px) {
    .Step-btn{
      width: calc(100%/24);
    }}
  @media (max-width: 1200px) {
    .Step-btn{
      width: calc(100%/20);
    }
  }
  @media (max-width: 991px) {
    .Step-btn{
      width: calc(100%/15);
    }
  }
  @media (max-width: 960px) {
    .Step-btn{
      width: calc(100%/15);
    }
  }
  @media (max-width: 768px) {
    .Step-btn{
      width: calc(100%/12);
    }
  }
  
  @media (max-width: 540px) {
    .Step-btn{
     width: calc(100%/10);
    }
  }
  @media (max-width: 460px) {
    .Step-btn{
     width: calc(100%/8);
    }
  }
  @media (max-width: 380px) {
    .Step-btn{
     width: calc(100%/7);
    }
  }
  .Step-btn .ratio-1-1{
    width: 100%;
    padding-bottom: 90%;
    position: relative;
  }
  .Step-btn .ratio-1-1 button{
    position: absolute;
    border-width: 0px 0px 4px 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .Step-btn .ratio-1-1 .Selected{
    border-width: 1px 1px 4px 1px;
  }
  .Step-btn .ratio-1-1 .Current{
    background-color: #002e70;
    border: 1px solid #002e70;
    color: white;
  }

  .FeedbackContainer{
    position: absolute;
    font-size: 0.7rem;
    bottom: calc(0.25rem - 4px);
    align-items: baseline;
    display: flex;
    right: 4px;
  }
  .FeedbackContainer i{
    display: inline-flex;
  }
  .Wrong{
    border-color: brown;
    color: brown;
  }