.EditorFrame{
    border: 4px solid #f0f1f1;
    padding: 1rem;
}

.EditorSubStep{
    display: flex;
    align-items: center;
}
.EditorSubStepLastCol{
    padding-right: 0;
}
.EditorSubStepFirstInput{
    border-left: 2px solid #6c757d;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
}
.EditorSubStepNumber{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 1.9rem;

    border: solid;
    border-color: #6c757d;
    border-width: 0 0 0 2px;
    color: #6c757d;
    text-align: center;
}
.EditorButtonPrimaryBorderLeft{
    border-left: 2px solid #084298;
}