:root {
--step-number-width: 2rem;
}
.EditorStep{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}
.EditorStep:first-child{
    margin-top: 0;
}
.EditorStepNumber{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--step-number-width);
    height: 2rem;

    background-color: #6c757d;
    color: white;
    text-align: center;
    margin-right: 1rem;
}

.EditorStepChildWrapper{
    display: flex;
    margin-left: calc(var(--step-number-width)/2);
}